@CHARSET "UTF-8";

body {
    background-color: black;
    font-family: Ariel, sans-serif;
    color: white;
}

h1 {
    color: white;
    text-align:center;
}

h3 {
  border-top:3px solid black;
  padding:10px;
  background:#ada6a6;
}

h3:hover {
  background:#f4fcfc;
    /*#d5eef2;*/
}

.h3 a {
  text-decoration:none;
  color:black;
  font-weight:bold;
}


a,a:link,a:visited {
	color :white;
}

.about{
	width: 250px;
	padding: 10px;
	float: left;
}

button {
	background-color: #333;  
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
}

button:hover {
    background-color: #e7e7e7;
    color: black;
}

div.contenthead {
  margin: 0 auto;
  width: 75%;
  text-align:center;
}

div.content {
  margin: 0 auto;
  padding: 20 20;
  width: 50%;
}

div.footer{
	text-align: center;
	padding: 10px;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
}

.img_row {
	margin:0 auto; 
    width:90%;
    text-align:center;
}

.img_row img {
	display: inline-block; 
	width: 20%; 
	object-fit: cover;
}


div.desc {
    padding: 15px;
    text-align: center;
}

.tourdiv {
  margin: 0 auto;
  width: 60%;
  background:#e0e0e0;
  border-bottom:3px solid #222;
  color : black;
}

.tourblock {
	color: black;
	display: none;
	padding: 10px 10px ;
}

form {
	line-height: 100%;
}

.accordion {
    background-color: #ada6a6;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border-top: 3px solid #222;
    text-align: center;
    outline: none;
    font-size: 1.17em;
    font-weight: bold;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ada6a6;
}

.accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-align: left;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #e0e0e0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 81%;
}

.panel img{
	float: left;
	padding: 10px;
}

.panel p{
	color: black;
	text-align: center;
	font-weight: bold;
}